{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Delete book {% endblock %}

{%  block nav_class_books %}active{% endblock %}

{% block content %}
    <div class="container">
        <h3>Book <b>"{{ book }}"</b> will be removed, are you sure?</h3>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger btn-md" >
                    <span class="glyphicon glyphicon-minus"></span> Delete book
                </button>
            </form>
    </div>
{% endblock %}