{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Delete book {% endblock %}

{%  block nav_class_books %}active{% endblock %}

{% block content %}

    {% for author in  book.author.all %}
        <h3><b>{{ book.title }}</b> was wrote by <b>{{ author }}</b></h3>
    {% endfor %}

    <br>
    	<div class="col-sm-1">
        	<a class="btn btn-success btn-md" href="{% url 'books:update_view' book.id %}">Edit this book</a><br>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
        	<a class="btn btn-danger btn-md" href="{% url 'books:delete_view' book.id %}">Delete this book</a><br>
        </div>

{% endblock %}
