{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Delete book {% endblock %}

{%  block nav_class_books %}active{% endblock %}

{% block content %}

    {% for author in  book.author.all %}
        <h3><b>{{ book.title }}</b> was writen by <b>{{ author }}</b></h3>
    {% endfor %}

    <br>
    <span class="for-two-btn">
        <a class="float-left btn btn-success btn-sm" href="{% url 'books:update_view' book.id %}">Edit this book</a><br>
        <a class="float-right btn btn-danger btn-sm" href="{% url 'books:delete_view' book.id %}">Delete this book</a><br>
    </span>

{% endblock %}
