{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Delete book {% endblock %}

{%  block nav_class_books %}active{% endblock %}

{% block content %}

    {% for author in  book.author.all %}
        <b>{{ book.title }}</b> was writen by <b>{{ author }}</b>
    {% endfor %}

    <br>
    <a class="btn btn-success btn-sm" href="{% url 'books:update_view' book.id %}">Edit this book</a><br>
    <a class="btn btn-danger btn-sm" href="{% url 'books:delete_view' book.id %}">Delete this book</a><br>

{% endblock %}
