{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Delete author {% endblock %}

{%  block nav_class_authors %}active{% endblock%}

{% block content %}

    <div class="container">
        <h3>Author {{ author }} will be removed, are you sure?</h3>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-md" >
                <span class="glyphicon glyphicon-minus"></span> Delete author
            </button>
        </form>
    </div>

{% endblock %}