{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Create author {% endblock %}

{%  block nav_class_authors %}active{% endblock%}

{% block content %}

    <h3 align="center">{{ author }} has wrote :</h3>
    <div class="container">
        <table class="table">
            {% for book in author.book_set.all %}
                <tr>
                    <td><h4>{{ book }}</h4></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <p>
        <a href="{% url 'authors:update_view' author.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> Edit author
        </a>
    </p>

    <p>
        <a href="{% url 'authors:delete_view' author.id %}" class="btn btn-warning" >
            <span class="glyphicon glyphicon-minus"></span> Delete author
        </a>
    </p>
{% endblock %}
