{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Create author {% endblock %}

{%  block nav_class_authors %}active{% endblock%}

{% block content %}

    <h2>Authors :</h2>

    <div class="container">
        <table class="table">
            {% for author in object_list %}
                <tr>
                    <td><a href="{% url 'authors:detail_view' author.id %}"><h4>{{ author }}</h4></a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'authors:create_view' %}" class="btn btn-success btn-md" >
            <span class="glyphicon glyphicon-plus"></span> Add new author
        </a>
    </div>

{% endblock %}