{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Create card {% endblock %}

{%  block nav_class_card %}active{% endblock %}

{% block search_bar %}

      <form class="navbar-form navbar-left" method="get" action="{% url 'card:create_view' %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_value">
        </div>
        <button type="submit" class="btn btn-default" name="search_book">Submit</button>
      </form>

{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {% include 'includes/form_fields.html' with button='Add new books' %}
        </div>
    </form>
{% endblock %}