{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Card {% endblock %}

{%  block nav_class_card %}active{% endblock %}

{% block content %}

    <h2><b>{{ object_list.0.users.username}}</b> card :</h2>

    <div class="container">
        <table class="table">
        {% if object_list|length > 20 %}
            {% for card in object_list %}
                <tr>
                    {% if  not card.when_return %}
                        <td>{{ card.books }}</td>

                    {% endif %}
                </tr>
{#            {% empty %}#}
{#                <h4>You  haven't any book</h4>#}
            {% endfor %}
        {% else %}
            <h4>You  haven't any book</h4>
        {% endif %}
        </table>
    </div>

    <p><a href="{% url 'card:create_view' %}" class="btn btn-success btn-lg" >
    <span class="glyphicon glyphicon-plus"></span> Add new books</a></p>

    <p><a href="{% url 'card:delete_view' %}" class="btn btn-success btn-lg" >
    <span class="glyphicon glyphicon-plus"></span> Return books</a></p>

{% endblock %}