{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Card {% endblock %}

{%  block nav_class_card %}active{% endblock %}

{% block content %}

    <h2><b>{{ user.username }}</b> card :</h2>
    <div class="container" align="right">
        {% if user.myuser.image %}
            <img src="{{ user.myuser.image.url  }}" height="100px">
        {% endif %}
        </div>
    <div class="container">
        <table class="table">
            {% for card in object_list %}
                <tr>
{#                    {% if  not card.when_return %}#}
                        <td><a href="{% url 'books:detail_view' card.books_id%}"><h4>{{ card.books }}</h4></a></td>
{#                    {% endif %}#}
                </tr>
            {% empty %}
                <h4><p align="center">You should begin to read </p></h4>
            {% endfor %}
        </table>

        <a href="{% url 'card:create_view' %}" class="btn btn-success btn-md" >
        <span class="glyphicon glyphicon-plus"></span> Add new books</a>

        <a href="{% url 'card:delete_view' %}" class="btn btn-success btn-md" >
        <span class="glyphicon glyphicon-minus"></span> Return books</a>
    </div>

{% endblock %}