{%  extends "base.html" %}

{% load staticfiles %}

{% block title %} Books {% endblock %}

{%  block nav_class_profile %}active{% endblock %}

{% block content %}

    <h1><p align="center"><b>{{ dude.username|upper }}</b>'S PROFILE</p></h1>
    <div class="container" align="right">
        {% if user.myuser.image %}
            <img src="{{ dude.myuser.image.url  }}" height="150px">
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {% include 'includes/form_fields.html' with button='Change profile' %}
        </div>
    </form>
    {% if dude.username != 'librarian' %}
    <h2><p align="center">History</p></h2>

    <div class="container">
        <table class="table">
                <tr>
                    <th>BOOK</th>
                    <th>ISSURE</th>
                    <th>RETURN</th>
                </tr>
            {% for card in cards %}
                <tr>
                    <td>
                        <a href="{% url 'books:detail_view' card.books.id %}">
                            <h4>{{ card.books.title }} </h4>
                        </a>
                    </td>
                    <td>
                        {{ card.when_giving }}
                    </td>
                    <td>
                        {% if card.when_return %}
                            {{ card.when_return }}
                        {% else %} the book is kept by user
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}